<html>
    <head>
        <title>Django - myapp</title>
    </head>
    <body>
        <p>Hello myapp!</p>

        <br>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" id="submit_button">Submit</button>
        </form>
        <div>
            {% for profile in profiles %}
            <div>
                <p>{{ profile.name }}</p>
                <p>{{ profile.height }}</p>
            </div>
            <br>
            {% endfor %}
        </div>
    </body>
</html>